@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
    overflow: hidden;
}

.bg-adriano-castro {
    background: linear-gradient(to bottom left, #74b9ff, #6c5ce7);
    height: 100vh;
    color: #fff;
}

.bg-light {
    background: linear-gradient(to bottom left, #bdc3c7, #bdc3c7);
    height: 100vh;
    color: #000;
}

.bg-dark {
    background: #2d3436;
    height: 100vh;
    color: #fff;
}

.mt-n4 {
    margin-top: -1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fredoka One', cursive;
}

#content {
    margin-top: 25% !important;
}

@media (max-width: 575.98px) {
    #content {
        margin-top: 0 !important;
    }
}